<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004883029443-gnr7di87dj5hg40irhm47tg0ufniatr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004883029443-gnr7di87dj5hg40irhm47tg0ufniatr8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004883029443-7ari5936m43f71u3cm8qm5nad5vmcmm6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb6DQSmh-mLDmiVNLoo1wyjsx8Lcst9ss</string>
	<key>GCM_SENDER_ID</key>
	<string>1004883029443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testingapp.lyfteddemo</string>
	<key>PROJECT_ID</key>
	<string>lyfteddemo</string>
	<key>STORAGE_BUCKET</key>
	<string>lyfteddemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004883029443:ios:346ee8a4ecfdd87fdc6176</string>
</dict>
</plist>